# Data Types in Python

This notebook explains different data types in Python. This shall form a strong foundation for your programming and Data Science training sessions.

Data belongs to different categories. It can be numeric, text, true/false, complex numbers, date, of time for example. Data should be stored correctly to be able to do the desired operations on the data. If the data is stored incorrectly, for example numerical data is stored as text data, we can not do numerical or arithmetic operations on the data because the methods and the operations for a data depend largely on the type of data (object) being referred to.

There are various data types in Python. Listed below are the most prominently used ones:

Numeric: This is further divided into Integer, Float and, Complex

Strings: are words in double quotes, can contain all sorts of symbols, letters, spaces and numbers 

Boolean: it is a built-in data type in Python, which represents one of the two values "True" or "False". Internally Python reads True as 1 and False as 0.

# Numeric Data Type

As the name suggests, Numeric data type consists of numbers. These numbers can be whole numbers, decimal numbers or complex numbers.

Whole numbers are stored in Integer (Int) type.

Decimal numbers are stored in Float (Float64) type.

Complex numbers are stored in Complex type. Are represented as A+Bi or A+Bj, where A is real part and B is imaginary part. (Note: only mentioned not used during the upcoming training sessions)

You will find Integer and Float type being used most of the times.

You can check the data type of an object using the type() command.

# Fundamental Information

**Variables**: 

1) Are labels that are created to store information (words, numbers)

2) Are called variables, because the value stored can be modified throughout the code

3) Need to be a one word or if used multiple words, they need to be separated by underscore

4) It is important to pick descriptive names to understand what is inside a variable
Example: FS --> is this Financial Services, Fresh Service, Financial Statements?

5) After creating the variable name "=" is used to store a value inside
Example: company = "ABC"

6) Variables can be given the values of other variables

7) Variables cannot start with a symbol (&,+,%..)


**Print**:

1) print() It is an instruction that tells the computer to display a value in an area called "console"

2) print() can be used as often as wanted, the computer will display the values on a line in the console

3) When displaying variables in the console, their values will appear instead of their names

# Operators
**Note: for this section we will represent asterisk as "★", when applying the code please use asterisk not "★"**


= to store


**Arithmetic**:


1) +	Addition: Sum of two operands	a+b

2) –	Subtraction: Difference between two operands	a-b

3) ★	Multiplication: Result of a multiplication	a★b

4) /	Float Division: Result of a division	a/b

5) //	Floor Division: Quotient of two operands (returns the floor result (nearest integer down)	a//b

6) %	Modulus Operator: Integer (returns the remainder after division of "a" by "b") 	a%b

7) ★★	Exponent: "a" to the power of "b"	a★★b


**Comparisons**:


1) >	Greater than: if the left operand is greater than the right, then it returns true.	a>b

2) <	Less than: if the left operand is less than the right, then it returns true.	a<b
                                                                                            
3) ==	Equal to: if two operands are equal, then it returns true.	a==b
                                                                                            
4) !=	Not equal to: if two operands are not equal, then it returns true.	a!=b
                                                                                            
5) >=	Greater than or equal: if the left operand is greater than or equal to the right, then it returns true.	a>=b
    
6) <=	Less than or equal: if the left operand is less than or equal to the right, then it returns true.
                 
         
**Assignment**:

         
1) =	  a=2	this does the same as   a=2
         
2) +=	  a+=2	this does the same as   a=a+2
         
3) -=	  a-=2	this does the same as   a=a-2
         
4) ★=	  a★=2	this does the same as   a=a★2
         
5) /=	  a/=2	this does the same as   a=a/2
         
6) %=	  a%=2	this does the same as   a=a%2
                 
7) ★★ =	 a★★=2	this does the same as   a=a★★2
         
8) &=	  a&=2	this does the same as   a=a&2
         
9) |=	  a|=2	this does the same as   a=a|2
         
10) ^=	  a^=2	this does the same as   a=a^2
         
11) >>=	  a>>=2	this does the same as   a=a>>2
    
12) <<=	  a<<=2	this does the same as   a=<<2
    

**Logical**:

1) and= compares 2 expressions, if both expressions are correct then it will show "True"
    
2) or= compares if at least one expression of the values will be True 
    
3) not = will determine the Boolean value and returns the opposite

## Examples

#### Variables usage examples

In [1]:
FS = "Financial Services"
print(FS)

Financial Services

In [2]:
Tickets = "GS open tickets from"
FS = " Fresh Service"
Tracker = Tickets + FS
print(Tracker)

GS open tickets from Fresh Service

#### Examples Integer

In [3]:
Number = 7

In [4]:
active_users = 10 #storing using multiple words can be done by using "_" between each work

In [5]:
#Create expressions
number_of_continents = 5+2  #expressions can be stored
print(number_of_continents) #print the result of number_of_continents

7

In [6]:
#Exercise:  How to convert 0.3 into its percent value?

In [7]:
percent = 0.3 *100
print(percent)

30.0

In [8]:
#Expressions can become values
#Store calculation result in variables
D365_users = 65
SQL_users = 180
Total_users = D365_users + SQL_users
print("Total users for ABC Systems are:", Total_users)

Total users for ABC Systems are: 245

#### Examples Float

In [9]:
Pi = 3.14

In [10]:
#Variables with numbers can be used for calculations
print("Result of multiplying Pi by 3:") #To print a string can be done when using ""
print(Pi*3)

Result of multiplying Pi by 3:
9.42

#### Examples String

In [11]:
Season = "Summer is coming"  # The variable season, stores the value "Summer is coming"

In [12]:
#Exercise: Create a _catchy phrase_ said in the following movie:
Movie = "Avengers"
Catchy_Phrase = ""

In [13]:
#Add string values by using +
Month = "May"
Weekday = "Friday"
Month + " " + Weekday

'May Friday'

#### Boolean Examples

In [14]:
#Is 10 equal to 10?
10==10

True

In [15]:
#Is 25 greater than 80?
25>80

False

## Data Type Conversions

When the data is not stored correctly or it gets imported incorrectly. It needs to be converted to its correct type so that it can be optimally used in the analysis.

In [16]:
# Consider an object containing an integer.
string1 = 1

In [17]:
type(string1)

int

In [18]:
# Use the value 1 as a text value. So let's convert it.
string1 = str(string1)

In [19]:
type(string1)

str

In [20]:
# Exercise: Store the number 123456 as string.

In [21]:
exercise = "123456"
print(exercise)
type(exercise)

123456

str

In [22]:
#Convert string to float
M = '10.123'
E = float(M)
type(E)

float

In [23]:
int1 = "500"
type(int1)

str

In [24]:
int1 = int(int1)
type(int1)

int

In [25]:
#Convert int to string
pp = str(int(6 + 10.0))
print("sweet " + pp + "!") #Please note that after sweet there is one space

sweet 16!

# Data Type Conversions

In [26]:
#Exponential
3**2

9

In [27]:
#Multiplication
3*2

6

In [28]:
#What will be the answer to the following Python code?
( 14 % 2 ) * ( 9 // 4 ) + 4

4

# Assignment Operators

In [29]:
Y,Z=1,8

In [30]:
print(Y)
print(Z)

1
8

In [31]:
A,B,C,D = 21,8,20,5
( A % B ) + ( C // B ) - D

2

In [32]:
a, b, c = 1, 2   #Good practice is to read the errors (Value Error) to know how to troubleshoot

ValueError: not enough values to unpack (expected 3, got 2)

# Logical Operators

In [33]:
#The revenue of the month of March is larger than my expenditure, and my revenue of March is less than April

In [34]:
#AND: giving a True outcome
Expenses = 100
March = 110 #Revenue
April = 200 #Revenue
Comparison = March>Expenses and March<April
print(Comparison)

True

In [35]:
#AND: giving a False outcome
Comparison2 = March>Expenses and March==April
print(Comparison2)

False

In [36]:
#OR: 
Comparison3 = March>Expenses or March==April
print(Comparison3)

True

In [37]:
#NOT: 
May = ""
not May

True

In [38]:
#NOT: 
May = 210
not May

False

In [39]:
not True == False

True